.filmsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.pagination {
    width: 50%;
    margin: 30px 0 30px 25%;
    background-color: white;
    border-radius: 10px;

}

.buttonPag {
    width: 100%;
    color: black;
    /*background-color: white;*/
    /*border-radius: 10px;*/
    margin-left: 20%;
}


@media (max-width: 1500px) {
    .pagination {
        width: 50%;
        margin: 30px 0 30px 25%;
        background-color: white;
        border-radius: 10px;

    }

    .buttonPag {
        width: 100%;
        color: black;
        /*background-color: white;*/
        /*border-radius: 10px;*/
        margin-left: 10%;
    }
}