.filmsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.pagination {
    width: 30%;
    margin: 30px 0 30px 35%;
}

.buttonPag {
    color: black;
    background-color: white;
    border-radius: 10px;
}