.blockFilm {
    width: 95%;
    margin-left: 2.5%;
}

.boxInfo {
    display: flex;
    justify-content: space-between;
}

.infoPoster {
    width: 30%;
    margin: 20px 1.666666666666667%;
}

.infoPoster img {
    width: 80%;
    border-radius: 20px;
    box-shadow: var(--box-shadow-infoPosterImg);
}

.information {
    width: 30%;
    margin: 20px 1.666666666666667%;
    text-align: left;
    border-radius: 20px;
    box-shadow: var(--box-shadow-information);
    background-color: var(--background-color-information);
    color: var(--color-information);
}

.information > div {
    margin-left: 10px;
}

.infoBox {
    display: flex;
}

.pTitle {
    width: 20%;
    color: gray;
}

.boxBadge {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    min-width: 100px;
    height: 25px;
    padding: 2px;
    border-radius: 5px;
    background-color: red;
    border: 1px solid black;
    margin: 15px 5px 0 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

.badge a{
    text-decoration: none;
    color: white;
}

.infoRating {
    width: 30%;
    margin: 20px 1.666666666666667%;
}

.infoRating h2 {
    text-align: right;
    color: white;
}

.overview {
    border-radius: 15px;
    width: 95%;
    margin: 20px 0 30px 2.5%;
    padding: 5px 0;
    background-color: var(--background-color-overview);
    color: var(--color-overview);
    box-shadow: var(--box-shadow-overview);
}

.videoPlayer {
    width: 60%;
    margin: 20px 0 20px 20%;
}

.ratingBox {
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

.ratingBox div {
    margin-top: -25px;
    font-size: 15px;
    color: white;
}


@media (max-width: 1500px) {
    .information {
        width: 45%;
    }

    .infoRating {
        width: 15%;
    }
}