.header {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    display: flex;
}

.header a {
    text-decoration: none;
}

.header a {
    display: flex;
}

.logo {
    width: 33.333%;
    height: 100px;
    display: flex;
}

.logo img {
    width: 80px;
    height: 80px;
    margin: 10px 20px 0 20px;
    padding-left: -200px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px red;
}

.logo h1 {
    margin: 10px 0 0 5px;
    color: red;
    text-shadow: 5px 5px 10px red;
    font-weight: 600;
}

.oneLetter {
    font-size: 60px;
}

.twoLetter {
    font-size: 56px;
}

.threeLetter {
    font-size: 52px;
}

.fourLetter {
    font-size: 48px;
}

.switcher {
    width: 33.333%;
    height: 100px;
}

.switch {
    margin: 35px 0;
    display: flex;
    justify-content: center;

}

.reactSwitch {
    box-shadow: 0 0 15px 15px red;
    -webkit-transition: all 1s ease
}

.auth {
    width: 33.333%;
    height: 100px;
    display: flex;
}

.auth img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px red;
    margin: 20px 5% 0 2.5%;
}

.auth h3 {
    color: white;
    font-size: 20px;
    margin: 35px 2.5% 0 55%;
}


@media (max-width: 1500px) {
    .logo img {
        width: 60px;
        height: 60px;
        margin: 20px 20px 0 20px;
    }

    .logo h1 {
        margin: 20px 0 0 5px;
    }

    .oneLetter {
        font-size: 50px;
    }

    .twoLetter {
        font-size: 46px;
    }

    .threeLetter {
        font-size: 42px;
    }

    .fourLetter {
        font-size: 38px;
    }
}


